body {
	padding: 0;
	margin: 0;
	height: 100vh;

	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 20%;
	background-color: #57534E;
}

.logo {
	height: 100px;

}

.title:not(.info) {
	font-weight: 400;
	font-size: 28px;
	color: #FFF9EE;
}

.libraryContainer {
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	width: 100%;
	gap: 30px;
	background-color: #FFF9EE;
	margin-bottom: 10px;
	padding: 50px;
}

.titleCard {
	font-weight: bold;
	position: absolute;

}

.addCard {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;
	width: 150px;
	padding: 10px;
	order: 1;
}

.card {
	border: 1px solid black;
	background-color: white;
	height: 200px;
	width: 150px;
	padding: 10px;
}

/* .bookCard :not(.closeIcon) {
	display: flex;
	justify-content: center;	
	align-items: start;
} */

.book.card {
	display: grid;
	grid-template-columns: 1fr 8fr;
	grid-template-rows: 1fr 8fr;
}

.title.info {
	font-weight: bold;
	color: black;

	grid-column-start: 2;
}

.bookInfo {
	grid-row-start: 2;
	grid-column: 1 / span 2;
}

.closeIcon {
	height: 20px;
}
/* 
.bookInfo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
} */

input[type=checkbox] {
	opacity: 0;
	position: absolute;
}

.switch-btn {
	width: 40px;
	height: 20px;
	background: #e5e5e5;
	position: relative;
	border-radius: 10px;
}

.switch-btn:before {
	content: '';
	position: absolute;
	height: 16px;
	width: 16px;
	background: linear-gradient(#FFF, #F2F2F2);
	border-radius: 50%;
	transition: all 100ms ease-out;
	left: 2px;
	top: 2px;
}

input[type=checkbox]:checked + .switch-btn:before {
	left: 22px;
}

input[type=checkbox]:checked + .switch-btn {
	background: rgb(55, 163, 55);
}

li {
	list-style: none;
}