body {
	display: flex;
	padding: 0;
	margin: 0;
	height: 100vh;
}

.sidebar {
	background-color: #FCD34D;
	flex-basis: 300px;
}

.libraryContainer {
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	width: 100%;
	background-color: #FFF9EE;
	margin-bottom: 10px;

}

.bookCard {
	border: 1px solid black;
	background-color: white;
	margin: 50px;
	height: 200px;
	padding: 10px;
}

.bookCard:not(.closeIcon) {
	display: flex;

}

.closeIcon {
	position: absolute;
	height: 20px;
}

.bookInfo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


li {
	list-style: none;
}